body{
    background:white;
    font-family:"Microsoft JhengHei";
    margin: auto;
    margin-top: 200px;
    padding: 5px;
}

body>table{
    border:2px solid;
    text-align: center;
    border-color:black;
    text-align: center;
    display: inline block;
}

tr{
    height: 10%;
}

th{
    text-align: left;
    border-width: 0px;
}

nav a {
    color:chocolate;
    text-decoration: none; 
    font-size: 1.2rem;
}

nav > ul {
    list-style: none; 
    
}

nav a:hover {
    background-color: rgb(115, 115, 115);
    color: white;
}

ul>li{
    display: inline;
}

img{
    width: 150px;
}

td{
    text-align: right;
    border-width: 0;
}

th{
    border-width: 0;
}

hr{
    background-color: salmon;
     height: 5px;
     border-color: white;
}

th{
    border-width: 0;
}

th{
    border-width: 0;
}

input{
    float: right;
     width: 75px;
      height: 50px;
      background-color: orange;
      font-size: 30%;
      border:gold;
      color:black;
}